<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_CloudinaryFetch>
            <version>1.0.0</version>
        </ProxiBlue_CloudinaryFetch>
    </modules>
    <global>
        <blocks>
            <proxiblue_cloudinaryfetch>
                <class>ProxiBlue_CloudinaryFetch_Block</class>
            </proxiblue_cloudinaryfetch>
        </blocks>
        <helpers>
            <proxiblue_cloudinaryfetch>
                <class>ProxiBlue_CloudinaryFetch_Helper</class>
            </proxiblue_cloudinaryfetch>
        </helpers>
        <models>
            <proxiblue_cloudinaryfetch>
                <class>ProxiBlue_CloudinaryFetch_Model</class>
            </proxiblue_cloudinaryfetch>
            <core>
                <rewrite>
                    <design_package>ProxiBlue_CloudinaryFetch_Model_Design_Package</design_package>
                    <store>ProxiBlue_CloudinaryFetch_Model_Store</store>
                </rewrite>
            </core>
        </models>
        <resources>
            <proxiblue_cloudinaryfetch_setup>
                <setup>
                    <module>ProxiBlue_CloudinaryFetch</module>
                </setup>
            </proxiblue_cloudinaryfetch_setup>
        </resources>
    </global>
</config>
